.footer-sec{
  width: 100%;
  padding: 1%;
height: 40px;
  border-radius: 30px;
  position: sticky;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.foot-i {
  color: rgb(88, 87, 87);
  margin: 5px;
}
input {
  outline: none;
  width: 50%;
  border: none;
}
